Repository chocolatey-community/Chocolatey: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Path conditions:
  .pipelines/pr-azure-pipeline.yaml: any file but: CHANGELOG.md
  .pipelines/public-azure-pipeline.yaml: any of: source

we need to have triggers that run as we expect#44
  .pipelines/public-azure-pipeline.yaml
  azure-pipelines.yml
Due: .pipelines/pr-azure-pipeline.yaml

the psm1 is auto-generated so clean the source code
  source/Chocolatey.psm1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

so we know what we did #44
  CHANGELOG.md
Due: none

process resolution #44
  .pipelines/public-azure-pipeline.yaml
  CHANGELOG.md
  source/Chocolatey.psm1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing pipeline yaml with main config
  .pipelines/public-azure-pipeline.yaml
  CHANGELOG.md
Due: .pipelines/pr-azure-pipeline.yaml

updating Pester version (cant use v5)
  RequiredModules.psd1
Due: .pipelines/pr-azure-pipeline.yaml

totally cheating to pass the tests
  source/DscResources/ChocolateyFeature/en-US/ChocolateyFeature.strings.psd1
  source/DscResources/ChocolateyPackage/en-US/ChocolateyPackage.strings.psd1
  source/DscResources/ChocolateyPin/en-US/ChocolateyPin.strings.psd1
  source/DscResources/ChocolateySetting/en-US/ChocolateySetting.strings.psd1
  source/DscResources/ChocolateySoftware/en-US/ChocolateySoftware.strings.psd1
  source/DscResources/ChocolateySource/en-US/ChocolateySource.strings.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

still cheating but it passes the tests now
  source/en-US/Chocolatey.strings.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

because we need a new line at the end of the file
  source/DscResources/DSCResourcesDefinitions.json
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

totally cheating to not have an empty file
  source/DscResources/ChocolateyFeature/en-US/ChocolateyFeature.strings.psd1
  source/DscResources/ChocolateyPackage/en-US/ChocolateyPackage.strings.psd1
  source/DscResources/ChocolateyPin/en-US/ChocolateyPin.strings.psd1
  source/DscResources/ChocolateySetting/en-US/ChocolateySetting.strings.psd1
  source/DscResources/ChocolateySoftware/en-US/ChocolateySoftware.strings.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

needs to be named the same as module
  source/examples/chocolatey.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

so that the examples have a name that passes the tests
  source/DscResources/ChocolateySource/en-US/ChocolateySource.strings.psd1
  source/en-US/Chocolatey.strings.psd1
  source/examples/Resources/ChocolateyFeature/1-ChocolateyFeature_DisableFeature.ps1
  source/examples/Resources/ChocolateyPackage/1-ChocolateyPackage_InstallPackage.ps1
  source/examples/Resources/ChocolateyPackage/2-ChocolateyPackage_UninstallPackage.ps1
  source/examples/Resources/ChocolateyPackage/3-ChocolateyPackage_InstallPackageWithouttVersion.ps1
  source/examples/Resources/ChocolateyPin/1-ChocolateyPin_PinPackage.ps1
  source/examples/Resources/ChocolateyPin/2-ChocolateyPin_PinPackagewithVersion.ps1
  source/examples/Resources/ChocolateyPin/3-ChocolateyPin_RemovePin.ps1
  source/examples/Resources/ChocolateySetting/1-ChocolateySetting_SetSetting.ps1
  source/examples/Resources/ChocolateySoftware/1-ChocolateySoftware_SetSoftware.ps1
  source/examples/Resources/ChocolateySource/2-ChocolateySource_UnregisterSource.ps1
  source/examples/dsc_configuration.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

so that the example name passes the tests
  source/examples/Resources/ChocolateySource/1-ChocolateySource_RegisterSource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

becasue thefile was the wrong type
  source/DscResources/ChocolateySource/ChocolateySource.schema.mof
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

because the test was looking for them
  source/DscResources/ChocolateySource/ChocolateySource.psm1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

ok - now the tests pass without the thing
  source/DscResources/ChocolateySource/ChocolateySource.psm1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

becasue we dont have a wiki we wont publish it yet
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

removing old file
  source/DscResources/DSCResourcesDefinitions.json
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fix Deprecating and removing side-by-side installs from Chocolatey CLI #61
  CHANGELOG.md
  README.md
  source/private/Get-ChocolateyDefaultArgument.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Update-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

making sure the comment based help works after merge
  source/public/Add-ChocolateyPin.ps1
  source/public/Disable-ChocolateyFeature.ps1
  source/public/Disable-ChocolateySource.ps1
  source/public/Enable-ChocolateyFeature.ps1
  source/public/Enable-ChocolateySource.ps1
  source/public/Get-ChocolateyFeature.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Get-ChocolateyPin.ps1
  source/public/Get-ChocolateySetting.ps1
  source/public/Get-ChocolateySource.ps1
  source/public/Get-ChocolateyVersion.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Test-ChocolateyFeature.ps1
  source/public/Test-ChocolateyInstall.ps1
  source/public/Test-ChocolateyPackageIsInstalled.ps1
  source/public/Test-ChocolateyPin.ps1
  source/public/Test-ChocolateySetting.ps1
  source/public/Test-ChocolateySource.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Unregister-ChocolateySource.ps1
  source/public/Update-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

updating copyright year
  source/Chocolatey.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

updating config for pester 5
  RequiredModules.psd1
  tests/QA/module.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml

cosmetic fixes
  source/DscResources/ChocolateyPackage/ChocolateyPackage.psm1
  source/private/Get-ChocolateyDefaultArgument.ps1
  source/private/Get-RemoteString.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

PSSA fixes
  source/public/Test-ChocolateyPackageIsInstalled.ps1
  source/public/Test-ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Making test pester v5 compat
  tests/Unit/Private/Compare-SemVerVersion.tests.ps1
  tests/Unit/Private/Get-ChocolateyDefaultArgument.tests.ps1
  tests/Unit/Private/Get-Downloader.tests.ps1
  tests/Unit/Private/Get-RemoteFile.tests.ps1
  tests/Unit/Private/Get-RemoteString.tests.ps1
  tests/Unit/Private/Get-SemVerFromString.tests.ps1
  tests/Unit/Private/Repair-PowerShellOutputRedirectionBug.tests.ps1
  tests/Unit/Public/Add-ChocolateyPin.tests.ps1
  tests/Unit/Public/Disable-ChocolateyFeature.tests.ps1
  tests/Unit/Public/Disable-ChocolateySource.tests.ps1
  tests/Unit/Public/Enable-ChocolateyFeature.tests.ps1
  tests/Unit/Public/Enable-ChocolateySource.tests.ps1
  tests/Unit/Public/Get-ChocolateyVersion.tests.ps1
  tests/Unit/Public/Install-ChocolateySoftware.tests.ps1
  tests/Unit/Public/Remove-ChocolateyPin.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml

updated config
  RequiredModules.psd1
  build.ps1
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

adding module QA
  tests/QA/module.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml

updating AzDO pipeline
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

changing image to Windows
  .pipelines/public-azure-pipeline.yaml
Due: .pipelines/pr-azure-pipeline.yaml

removed setting ssl3
  source/public/Install-ChocolateySoftware.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

using prerelease version of sampler
  RequiredModules.psd1
Due: .pipelines/pr-azure-pipeline.yaml

limiting the tests to see what fails on PS core
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

fix PSUseProcessBlockForPipelineCommand
  source/public/Get-ChocolateyPin.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

removing PSDeploy
  Dependencies.psd1
  Deploy.PSDeploy.ps1
Due: .pipelines/pr-azure-pipeline.yaml

removing extra file and reenabling tests
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

moving HQRM tests to win PS
  .pipelines/public-azure-pipeline.yaml
Due: .pipelines/pr-azure-pipeline.yaml

trying to show what id is...
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml
