Repository chocolatey-community/Chocolatey: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Path conditions:
  .pipelines/pr-azure-pipeline.yaml: any file but: CHANGELOG.md
  .pipelines/public-azure-pipeline.yaml: any of: source

fixes $Env:ChocolateyInstall not set #68
  CHANGELOG.md
  source/public/Install-ChocolateySoftware.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

reworkng the $env ChocolateyInstall to only read from Machine env
  source/private/Get-ChocolateyInstallPath.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Update-ChocolateyPackage.ps1
  tests/Unit/Private/Get-ChocolateyInstallPath.test.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

finish off Get-ChocolateyInstallPath
  source/private/Get-ChocolateyInstallPath.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  tests/Unit/Private/Get-ChocolateyInstallPath.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding the doc update for wikiSource
  source/WikiSource/Home.md
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing when to error when chocolateyInstall not set
  source/public/Get-ChocolateyPackage.ps1
  source/public/Uninstall-Chocolatey.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing when to throw when to ignore
  source/Classes/004.ChocolateySource.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Uninstall-Chocolatey.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixed the failure of ChocolateyPackage when not installed
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/Classes/004.ChocolateySource.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Test-ChocolateyInstall.ps1
  source/public/Test-ChocolateySource.ps1
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Fix/68 (#72)
  CHANGELOG.md
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/Classes/004.ChocolateySource.ps1
  source/WikiSource/Home.md
  source/private/Get-ChocolateyInstallPath.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Test-ChocolateyInstall.ps1
  source/public/Test-ChocolateySource.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Update-ChocolateyPackage.ps1
  tests/Unit/Private/Get-ChocolateyInstallPath.tests.ps1
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

updating ChocolateyFeature to be class based
  CHANGELOG.md
  source/Classes/005.ChocolateyFeature.ps1
  source/DscResources/ChocolateyFeature/ChocolateyFeature.psm1
  source/DscResources/ChocolateyFeature/ChocolateyFeature.schema.mof
  source/DscResources/ChocolateyFeature/en-US/ChocolateyFeature.strings.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Moving remaining resources to class based
  build.yaml
  source/Classes/005.ChocolateyFeature.ps1
  source/Classes/006.ChocolateySetting.ps1
  source/Classes/007.ChocolateyPin.ps1
  source/DscResources/ChocolateyPin/ChocolateyPin.psm1
  source/DscResources/ChocolateyPin/ChocolateyPin.schema.mof
  source/DscResources/ChocolateyPin/en-US/ChocolateyPin.strings.psd1
  source/DscResources/ChocolateySetting/ChocolateySetting.psm1
  source/DscResources/ChocolateySetting/ChocolateySetting.schema.mof
  source/DscResources/ChocolateySetting/en-US/ChocolateySetting.strings.psd1
  source/en-US/about_Chocolatey.help.txt
  source/examples/Resources/ChocolateyPackage/1-ChocolateyPackage_InstallPackage.ps1
  source/examples/Resources/ChocolateyPackage/3-ChocolateyPackage_InstallPackageWithouttVersion.ps1
  source/private/Get-Downloader.ps1
  source/public/Add-ChocolateyPin.ps1
  source/public/Disable-ChocolateyFeature.ps1
  source/public/Disable-ChocolateySource.ps1
  source/public/Enable-ChocolateyFeature.ps1
  source/public/Enable-ChocolateySource.ps1
  source/public/Get-ChocolateyPin.ps1
  source/public/Get-ChocolateySetting.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Test-ChocolateyPin.ps1
  source/public/Test-ChocolateySetting.ps1
  source/public/Test-ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing extra param
  source/public/Enable-ChocolateyFeature.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

moving hqrm tests onto Windows PowerShell (instead of pwsh)
  .pipelines/public-azure-pipeline.yaml
Due: .pipelines/pr-azure-pipeline.yaml

trying to workaround PSDSC v2 being on the azdo agent
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

passthru on ipmo PSDSC v1
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

updating ChocolateyFeature to be class based (#73)
  .pipelines/public-azure-pipeline.yaml
  CHANGELOG.md
  build.yaml
  source/Classes/005.ChocolateyFeature.ps1
  source/Classes/006.ChocolateySetting.ps1
  source/Classes/007.ChocolateyPin.ps1
  source/DscResources/ChocolateyFeature/ChocolateyFeature.psm1
  source/DscResources/ChocolateyFeature/ChocolateyFeature.schema.mof
  source/DscResources/ChocolateyFeature/en-US/ChocolateyFeature.strings.psd1
  source/DscResources/ChocolateyPin/ChocolateyPin.psm1
  source/DscResources/ChocolateyPin/ChocolateyPin.schema.mof
  source/DscResources/ChocolateyPin/en-US/ChocolateyPin.strings.psd1
  source/DscResources/ChocolateySetting/ChocolateySetting.psm1
  source/DscResources/ChocolateySetting/ChocolateySetting.schema.mof
  source/DscResources/ChocolateySetting/en-US/ChocolateySetting.strings.psd1
  source/en-US/about_Chocolatey.help.txt
  source/examples/Resources/ChocolateyPackage/1-ChocolateyPackage_InstallPackage.ps1
  source/examples/Resources/ChocolateyPackage/3-ChocolateyPackage_InstallPackageWithouttVersion.ps1
  source/private/Get-Downloader.ps1
  source/public/Add-ChocolateyPin.ps1
  source/public/Disable-ChocolateyFeature.ps1
  source/public/Disable-ChocolateySource.ps1
  source/public/Enable-ChocolateyFeature.ps1
  source/public/Enable-ChocolateySource.ps1
  source/public/Get-ChocolateyPin.ps1
  source/public/Get-ChocolateySetting.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Test-ChocolateyPin.ps1
  source/public/Test-ChocolateySetting.ps1
  source/public/Test-ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

deprecating -LocalOnly for get and adding Find-ChocolateyPackage using choco search
  build.yaml
  source/Classes/002.ChocolateyPackage.ps1
  source/public/Add-ChocolateyPin.ps1
  source/public/Find-ChocolateyPackage.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Test-ChocolateyPackageIsInstalled.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Adding Find-ChocolateyPackage
  CHANGELOG.md
Due: none
