Repository chocolatey-community/Chocolatey: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

.pipelines/pr-azure-pipeline.yaml:
  stages:
  - stage: Build
    jobs:
    - job: Package_Module
      displayName: Package Module
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        name: wtf
        displayName: whats here
        inputs:
          targetType: inline
          script: 'Get-ChildItem -Recurse
  
  ...

.pipelines/public-azure-pipeline.yaml:
  stages:
  - stage: Build
    jobs:
    - job: Package_Module
      displayName: Package Module
      pool:
        vmImage: windows-latest
      steps:
      - task: gitversion/setup@0
        displayName: Install GitVersion
        inputs:
          versionSpec: 5.x
      - task: gitversion/execute@0
  ...

trying on azDO without Set_PSModulePath task
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

changing artifact name for CodeCoverage
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

trying to fix code coverage
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

trying config as per DocGenerator
  .pipelines/public-azure-pipeline.yaml
  build.yaml
Due: .pipelines/pr-azure-pipeline.yaml

fixing Get-ChocolateyPackage
  CHANGELOG.md
  source/private/Get-ChocolateyDefaultArgument.ps1
  source/public/Get-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing Get-ChocolateyPackage & default arguments
  CHANGELOG.md
  source/private/Get-ChocolateyDefaultArgument.ps1
  source/public/Get-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing Get-ChocolateyDefaultArgument tests
  source/public/Get-ChocolateyPackage.ps1
  tests/Unit/Private/Get-ChocolateyDefaultArgument.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Creating ChocolateyPackage Class-based DSC Resource
  build.yaml
  source/Classes/ChocolateyPackage.ps1
  source/Classes/ChocolateyReason.ps1
  source/DscResources/ChocolateyPackage/ChocolateyPackage.psm1
  source/DscResources/ChocolateyPackage/ChocolateyPackage.schema.mof
  source/DscResources/ChocolateyPackage/en-US/ChocolateyPackage.strings.psd1
  source/Enum/Ensure.ps1
  source/prefix.ps1
  source/private/Get-ChocolateyDefaultArgument.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Update-ChocolateyPackage.ps1
  tasks/Clean.BuildHelpers.build.ps1
  tasks/DeployAll.PSDeploy.build.ps1
  tasks/Environment.BuildHelpers.build.ps1
  tasks/Get-MergedModule.ps1
  tasks/IntegrationTests.pester.build.ps1
  tasks/MergeModule.Release.build.ps1
  tasks/QualityTests.pester.build.ps1
  tasks/TestResultUpload.Appveyor.build.ps1
  tasks/UnitTests.pester.build.ps1
  tasks/Update-DscResourceFromDefinition.ps1
  tasks/UpdateDscResourceFromDefinition.build.ps1
  tasks/generateHelp.PlatyPS.build.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

changing ChocolateySoftware and ChocolateyPackage to class based resources
  .kitchen.yml
  RequiredModules.psd1
  build.yaml
  source/Classes/001.ChocolateyReason.ps1
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/DscResources/ChocolateySoftware/ChocolateySoftware.psm1
  source/DscResources/ChocolateySoftware/ChocolateySoftware.schema.mof
  source/DscResources/ChocolateySoftware/en-US/ChocolateySoftware.strings.psd1
  source/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.config.ps1
  source/WikiSource/Home.md
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
  tests/kitchen/provisioning.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

passing GC tests
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/private/Get-Downloader.ps1
  source/private/Get-RemoteFile.ps1
  source/private/Get-RemoteString.ps1
  source/public/Install-ChocolateySoftware.ps1
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

updating changelog
  CHANGELOG.md
Due: none

making DscProperty nonConfigurable for Reasons
  source/Classes/001.ChocolateyReason.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding OutputType for Get-Downloader
  source/private/Get-Downloader.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

trying to fix code style
  source/public/Install-ChocolateySoftware.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing copy item param name
  source/public/Install-ChocolateySoftware.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing chocolateyPackage to manage dependencies when using chocoOptions @{Forcedependencies = $true}
  CHANGELOG.md
  build.yaml
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/WikiSource/Home.md
  source/public/Uninstall-Chocolatey.ps1
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding PSDSC v2.0.6 as dep
  RequiredModules.psd1
Due: .pipelines/pr-azure-pipeline.yaml

running hqrm on pwsh
  .pipelines/public-azure-pipeline.yaml
Due: .pipelines/pr-azure-pipeline.yaml

fixing chocolateyPackage to manage dependencies when using chocoOptions @{Forcedependencies = $true} (#66)
  .pipelines/public-azure-pipeline.yaml
  CHANGELOG.md
  RequiredModules.psd1
  build.yaml
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/WikiSource/Home.md
  source/public/Uninstall-Chocolatey.ps1
  tests/kitchen/GCPackages/ChocolateyIsInstalled/ChocolateyIsInstalled.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

changing ChocolateySource to class based resource
  source/Classes/004.ChocolateySource.ps1
  source/private/Assert-ChocolateyIsElevated.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Unregister-ChocolateySource.ps1
  source/public/Update-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

remove MOF based resource
  source/DscResources/ChocolateySource/ChocolateySource.psm1
  source/DscResources/ChocolateySource/ChocolateySource.schema.mof
  source/DscResources/ChocolateySource/en-US/ChocolateySource.strings.psd1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding DSC attributes on resource
  source/Classes/004.ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

updating DSC help for ChocolateySource
  source/Classes/004.ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding stub for test Assert-ChocolateyIsElevated
  tests/Unit/Private/Assert-ChocolateyIsElevated.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml

adding suppress rule for special param that checks if elevated or not
  source/public/Install-ChocolateyPackage.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Unregister-ChocolateySource.ps1
  source/public/Update-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

add Machine Config DisableChocolateyCommunitySource package
  CHANGELOG.md
  build.yaml
  source/GCPackages/DisableChocolateyCommunitySource/DisableChocolateyCommunitySource.config.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixing comment based help for assert-ChocolateyIsElevated
  source/private/Assert-ChocolateyIsElevated.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

adding help for RunNonElevated params
  source/public/Install-ChocolateyPackage.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Unregister-ChocolateySource.ps1
  source/public/Update-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

removing extra line in MOF
  source/DscResources/ChocolateyFeature/ChocolateyFeature.schema.mof
  source/DscResources/ChocolateySetting/ChocolateySetting.schema.mof
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

changing ChocolateySource to class based resource (#67)
  CHANGELOG.md
  build.yaml
  source/Classes/004.ChocolateySource.ps1
  source/DscResources/ChocolateyFeature/ChocolateyFeature.schema.mof
  source/DscResources/ChocolateySetting/ChocolateySetting.schema.mof
  source/DscResources/ChocolateySource/ChocolateySource.psm1
  source/DscResources/ChocolateySource/ChocolateySource.schema.mof
  source/DscResources/ChocolateySource/en-US/ChocolateySource.strings.psd1
  source/GCPackages/DisableChocolateyCommunitySource/DisableChocolateyCommunitySource.config.ps1
  source/private/Assert-ChocolateyIsElevated.ps1
  source/public/Install-ChocolateyPackage.ps1
  source/public/Install-ChocolateySoftware.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Uninstall-ChocolateyPackage.ps1
  source/public/Unregister-ChocolateySource.ps1
  source/public/Update-ChocolateyPackage.ps1
  tests/Unit/Private/Assert-ChocolateyIsElevated.tests.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Avoid duplicate choco.exe
  source/public/Install-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ChocolateyPackage: Avoid duplicate choco.exe (#70)
  CHANGELOG.md
  source/public/Install-ChocolateyPackage.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixed #31 for all calls @(gcm choco)[0]
  CHANGELOG.md
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/public/Add-ChocolateyPin.ps1
  source/public/Disable-ChocolateyFeature.ps1
  source/public/Disable-ChocolateySource.ps1
  source/public/Enable-ChocolateyFeature.ps1
  source/public/Enable-ChocolateySource.ps1
  source/public/Get-ChocolateyFeature.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Get-ChocolateyPin.ps1
  source/public/Get-ChocolateySetting.ps1
  source/public/Get-ChocolateySource.ps1
  source/public/Get-ChocolateyVersion.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Test-ChocolateyInstall.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Unregister-ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

fixed #31 for all calls (#71)
  CHANGELOG.md
  source/Classes/002.ChocolateyPackage.ps1
  source/Classes/003.ChocolateySoftware.ps1
  source/public/Add-ChocolateyPin.ps1
  source/public/Disable-ChocolateyFeature.ps1
  source/public/Disable-ChocolateySource.ps1
  source/public/Enable-ChocolateyFeature.ps1
  source/public/Enable-ChocolateySource.ps1
  source/public/Get-ChocolateyFeature.ps1
  source/public/Get-ChocolateyPackage.ps1
  source/public/Get-ChocolateyPin.ps1
  source/public/Get-ChocolateySetting.ps1
  source/public/Get-ChocolateySource.ps1
  source/public/Get-ChocolateyVersion.ps1
  source/public/Register-ChocolateySource.ps1
  source/public/Remove-ChocolateyPin.ps1
  source/public/Set-ChocolateySetting.ps1
  source/public/Test-ChocolateyInstall.ps1
  source/public/Uninstall-Chocolatey.ps1
  source/public/Unregister-ChocolateySource.ps1
Due: .pipelines/pr-azure-pipeline.yaml, .pipelines/public-azure-pipeline.yaml

Path conditions:
  .pipelines/pr-azure-pipeline.yaml: any file but: CHANGELOG.md
  .pipelines/public-azure-pipeline.yaml: any of: source
